.box{
    width: 150px;
    height: 150px;
    background: chocolate;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 1.5s;
    transition-property: width height;
    transition-timing-function: linear;
    border-radius: 100%;
}
.box:hover{
    width: 300px;
    height: 300px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}