main{
    background:linear-gradient(75.91deg, rgba(55, 44, 66, 0.8) 15.12%,
    rgba(105, 23, 192, 0) 95.53%);
}
article{
    background-color: burlywood;
}
footer{
    background-color: yellow;
}
body{
    background-color: wheat;
}
.ER{
    background-image: url(../img/ER.jpg);
    background-size: cover;
    width: 600px;
    height: 300px;
    color:violet;
}
.KEN{
    background-image: url(../img/32864.png);
    background-size: cover;
    width: 600px;
    height: 300px;
    
    color: red;
}
.ST{
    background-image: url(../img/531160901267.1524.jpeg);
    width: 600px;
    height: 300px;
    background-size: cover;
    color: turquoise;
}
.pgd{
    display: flex;
    flex-wrap: wrap;
    margin-left:1200px ;
    background-image: url(../img/pogoda.jpg);
    background-size: cover;
    width: 800px;
    height: 400px;
}
.sec{
    display: flex;
}